#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.featured {
  border: solid 1px white;
  min-width: fit-content;
}

.featured h2{
  padding: 5%;
  text-align: center;
}

.featured ul li {
padding: 1%
}